.sw-title span{
	background: #c762cb !important;
}
ul.dropdown li a{
	color: #c762cb !important;
}
ul.menu > li > a {
    color: #c762cb !important;
}
.project-info{
	background: #c762cb !important;
}
.contact-page input[type="submit"],
.comment-form input[type="submit"] {
	background: #c762cb !important;
}
ul.tags-list-post li a{
	background: #c762cb!important;
}
.single-post ul.post-tags li i.fa{
	color: #c762cb !important;
}
.post-meta .fa {
	color: #c762cb!important;
}
.services-post-head span{
	background: #E5B4E7!important;
}
.services-post:hover .services-post-head span  {
    background: #c762cb!important;
}
.statistic-counter-content{
	border: 12px solid #E5B4E7!important;
}
.statistic-counter-content:hover{
	border: 12px solid #c762cb!important;
}
.statistic-counter-content .fa{
	 color: #c762cb!important;
}
.wpb_content_element .wpb_tabs_nav li.ui-tabs-active a, .nav.nav-tabs li.active a{
	background: #c762cb!important;
}

/**end**/

ul.menu > li > a {
    color: #c762cb !important;
}

ul.social-icons li a:hover i {
    color: #c762cb !important;
}

.blog-post a.post-type i {
    color: #c762cb !important;
    font-size: 16px;
    line-height: 35px;
}

.hover-blog .hover-content h2 {
    color: #c762cb !important;
}

.hover-blog .hover-content .post-head:after {
    background: #c762cb !important;
}

.hover-blog .hover-content p {
    color: #c762cb !important;
}

.hover-blog .hover-content a.link-tag {
    background: #c762cb url('../images/plus2.png') center center no-repeat !important;
}

.hover-blog .hover-content ul.post-tags:after {
    background: #c762cb !important;
}

.hover-blog .hover-content ul.post-tags li:before {
    color: #c762cb !important;
}

.hover-blog .hover-content ul.post-tags li a {
    display: inline-block;
    color: #c762cb !important;
}

.single-post .post-title h1 {
    color: #c762cb !important;
}

.single-post .post-title span {
    display: inline-block;
    color: #c762cb !important;
}

.single-post ul.post-tags li:before {
    content: '|';
    color: #c762cb !important;
}

.single-post ul.post-tags li a {
    color: #c762cb !important;
}

ul.tags-list-post li span {
    color: #c762cb !important;
}

ul.tags-list-post li a:hover {
    background:#c762cb !important;
}

ul.share-list li span {
    display: inline-block;
    color: #c762cb !important;
}


ul.share-list li a:hover i {
    color: #c762cb !important;
}

.single-post.with-sidebar ul.post-tags li a i {
    margin-right: 5px;
    color: #c762cb !important;
}


.sidebar-blog h2 {
    color: #c762cb !important;
}

ul.archive-list li a {
    color: #c762cb !important;
}

.single-post.with-sidebar .flex-direction-nav .flex-next:after {

    color:#c762cb !important;
}

.single-post.with-sidebar .flex-direction-nav .flex-prev:after {
    color:#c762cb !important;
}

.single-post.with-sidebar .flexslider .flex-next:hover:after {
    color: #c762cb !important;
}
.single-post.with-sidebar .flexslider .flex-prev:hover:after {
    color: #c762cb !important;
}

.services-page-content h1,
.about-page-content h1 {
    color: #c762cb !important;
}

.services-page-content p,
.about-page-content p {
    color: #c762cb !important;
}

.statistic-counter p span.timer {
    display: block;
    color: #c762cb !important;

}

.statistic-counter p {
    color: #c762cb !important;
}

ul.star-rate li span {
    display: inline-block;
    color: #c762cb !important;
}

ul.star-rate li a.unchecked i {
    color: #c762cb !important;
}

.work-course-post h2 {
    color: #c762cb !important;
}

.contact-box h2 {
    color: #c762cb !important;
}

.contact-page h4 {
    color: #c762cb !important;
}

.contact-page input[type="text"]:focus,
.contact-page textarea:focus,
.comment-form input[type="text"]:focus,
.comment-form textarea:focus {
    color:#c762cb !important; 
}

.project-post .hover-box {
    background:rgba(199,98,203,0.97)!important;
}
